// compileCompressed: ../css/$1.css
@import "contrib/normalize";
@import "contrib/basscss/basscss";

@import "typography/my-typography";
@import "tools/my-mixins";
@import "tools/my-colors";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100|Roboto+Slab:400,100,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic);


.screen-size:after {
  @include tablet {
    content: "Medium screen";
  }
  @include desktop {
    content: "Large screen";
  }
}

* {
  box-sizing: border-box;
}

html {}

body {
  color: #333;
  background-color: #f5f5f5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: $font-family;
  line-height: $line-height;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  letter-spacing: 0.01rem;
}

img, a, div {
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;
}

.container {
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
}

header {}

footer {
  height: 150px;
  background-color: #e5e5e5;
  margin-top: 10rem;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.placeholder {
  background-color: #e5e5e5;
}

.page-section {}

.frame--header {
  margin: 1rem 0;
  .block-title {
    font-size: .85rem;
    font-weight: 300;
    margin: 0;
  }
}

.advert--main {}

.advert--content,
.advert--sidebar {
  height: 250px;
}

.nav--main {
  height: 80px;
}

.taxonomy-label--theme {
  padding: 5px 10px;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

.frame--item {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;

  &:last-child {
    border-bottom: none;
  }
}


/* ARTICL--FULL */

.article--full__header {
  margin: 0 8rem;
}

.article--full__title {

}

.article--full__meta {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e5e5e5;
}


.related-content-wrapper,
.article--full__body {
  margin: 0 8rem 3rem;
}



.article--full__resume {
  font-size: 130%;
  font-weight: 300;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e5e5e5;
}

.article--full__image {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e5e5e5;
}

.article--full__image-text {
  margin: .5rem 0;
  font-size: 80%;
  color: #888;
}

.article--full__quote {
float: left;
width: 60%;
margin: 2rem 0rem 1rem -8rem;
padding: 1rem 3rem;
border-left: 6px solid #e5e5e5;

  .quote-text {
    font-size: 150%;
    font-weight: 600;
    font-family: $heading-font-family;
    line-height: $heading-line-height;
    }

    .quote-sender {
      font-style: italic;
      color: #aaa;
      font-weight: 300;
      margin: 0;
    }



}

.article--full__advert {
    width: 300px;
    float: right;
    margin-left: 3rem;
}

.section--title {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 0.5rem 0 1rem;
}

.related-content-wrapper {
    &:before {
        content: '';
        width: 100%;
        border-top: 1px solid #000;
        display: block;
    }

    &:after {
      content: '';
      width: 100%;
      border-bottom: 8px solid #000;
      display: block;
      margin: 15px 0 0 0;
      padding-top: 0;
    }
}


.related-content-item {}

.related-content-item-bullet {
  color: $red;
}

/* ARTICL--TEASER */

.article--teaser {
  height: 400px;
}


.article--teaser__small {
  height: 100px;
}
